body {
  background-color: rgb(188, 202, 251);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.grid {
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(3, 1fr);
}

.square {
  cursor: pointer;
  width: 11rem;
  height: 11rem;
  font-size: 8rem;
  color: #cecbcb;
  border: 1px solid #001;
}

.square_o {
  background-color: rgb(87, 218, 21);
}

.square_x {
  background-color: rgb(162, 5, 5);
}

p {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  font-size: 2rem;
}

.reset {
  margin-top: 2rem;
  font-size: 2rem;
  background-color: rgb(65, 251, 251);
  border: none;
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .square {
    width: 6rem;
    height: 6rem;
    font-size: 5rem;
  }

  p {
    font-size: 1rem;
  }

  .reset {
    font-size: 1rem;
    padding: 0.75rem 1.25rem;
  }
}
